<!DOCTYPE html>
<html>

<head>
    <title>Create Student</title>
</head>

<body>
    <h1>Create a new student</h1>

    <form action="/create_student" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age"><br>
        <label for="class_">Class:</label><br>
        <input type="text" id="class_" name="class_"><br>
        <label for="school">School:</label><br>
        <input type="text" id="school" name="school"><br>
        <label for="parental_income">Parental Income:</label><br>
        <input type="text" id="parental_income" name="parental_income"><br>
        <label for="help_type">Help Type:</label><br>
        <input type="text" id="help_type" name="help_type"><br>
        <input type="submit" value="Submit">
    </form>

    <a href="/">Back to home</a>
</body>

</html>